/* General filter button styles */
.projects-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(45%, 1fr));
    gap: 20px;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  /* Dark mode styles */
  body.dark-mode .blog-post-item {
    background-color: #1e1e2e;
    padding: 15px;
    border-radius: 8px;
    transition: transform 0.2s ease-in-out;
    border: none; /* Remove border */
  }
  
  body.dark-mode .blog-post-item:hover {
    transform: translateY(-10px);
    box-shadow: 0 4px 8px rgba(0, 123, 255, 0.2); /* Optional: Add box shadow */
  }
  
  /* Light mode styles */
  body.light-mode .blog-post-item {
    background-color: transparent; /* Transparent background */
    color: #333;
    padding: 15px;
    border-radius: 8px;
    transition: transform 0.2s ease-in-out;
    border: none; /* Remove border */
  }
  
  body.light-mode .blog-post-item:hover {
    transform: translateY(-10px);
    box-shadow: 0 4px 8px rgba(0, 123, 255, 0.2); /* Optional: Add box shadow */
  }
  
  .blog-post-item a {
    text-decoration: none;
    color: inherit;
  }
  
  .blog-banner-box img {
    width: 100%;
    height: auto;
    border-radius: 8px;
  }
  
  .blog-content {
    margin-top: 15px;
  }
  
  .blog-meta {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .blog-category {
    margin-right: 10px;
  }
  
  .dot {
    height: 4px;
    width: 4px;
    background-color: #fff;
    border-radius: 50%;
    display: inline-block;
    margin-right: 10px;
  }
  
  body.light-mode .dot {
    background-color: #333;
  }
  
  .h3.blog-item-title {
    font-size: 1.25em;
    margin-bottom: 10px;
  }
  
  .blog-text {
    font-size: 0.95em;
  }
  
  /* Pagination styles for light mode */
  body.light-mode .pagination .page-link {
    background-color: #f0f0f0;
    color: #333;
  }
  
  body.light-mode .pagination .page-link:hover {
    background-color: #ddd;
  }
  
  body.light-mode .pagination .page-item.disabled .page-link {
    background-color: #ddd;
    color: #999;
    cursor: not-allowed;
  }
  
  body.light-mode .pagination .page-item.active .page-link {
    background-color: #007bff;
    color: #fff;
    border-color: #007bff;
  }
  